html {
  scroll-behavior: smooth;
  scroll-padding-top: $app_bar__height;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* --- Body --- */

body {
  font-family: $main__font;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* --- Skip link --- */

.skip-link {
  position: absolute;
  top: -50px;
  left: 16px;
  background-color: $accent-color;
  color: white;
  padding: 8px;
  z-index: 100;

  &:focus {
    top: $app_bar__height + 4px;
  }
}

/* --- Container --- */

.container {
  padding: 0 16px;
  margin: auto;
  max-width: 500px;
}

/* --- Loading animation --- */
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: block;
  width: 56px;
  height: 56px;
  border: 5px solid $accent-color;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 1s linear infinite loading;
  margin: 64px auto;
}

button {
  min-height: 44px;

  &:hover {
    box-shadow: 0 4px 8px 0 #00000033;
  }

  >.btn__loading {
    display: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-right-color: $accent-color;
    border-radius: 50%;
    margin: 0 16px 0 0;
    animation: 1s linear infinite loading;
  }
}



.error {
  margin: 40px 16px 16px;
  text-align: center;
  line-height: 1.5;
}

.error__heading {
  font-size: 1.4em;
}

#snackbar {
  visibility: hidden;
  max-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

favorite-page,
detail-page {
  display: block;
  padding-top: ($app_bar__height + 32px) !important;
}