// Breakpoint
$tablet: 768px;
$desktop: 1024px;

// color
$primary-color: #08d9d6;
$accent-color: #ff2e63;
$dark-color: #252a34;
$dark_color1: #323947;
$light-color: #dedede;


// border
$border: 1px solid #dedede;
$menu_border: 1px solid #777;