// Breakpoint
$tablet: 768px;
$desktop: 1024px;

// Fonts
$main__font: sans-serif;
$hero__tagline__font: monospace;

// Colors
$primary-color: #058381;
$accent-color: #df2856;
$dark-color: #252a34;
$dark_color1: #323947;
$light-color: #dedede;

// App-bar
$app_bar__height: 64px;
$app_bar__shadow: 0 1px 6px 0 #20212447;
$app-bar__font-size: 1.2em;

// Menu
$menu__background-color: $dark_color1;
$menu__border: 1px solid #777;
$menu-btn__border: 1px solid #888888;
$menu_btn__background-color: #b4b4b44f;
$menu_btn__size: 44px;

// Hero
$hero__height: 400px;
$hero__heading__font-size: 3em;
$hero__heading__font-size__sm: 2.25em;
$hero__subheading__font-size: 1.3em;
$hero__subheading__font-size__sm: 1em;
$hero__tagline__font-size: 1.25em;
$hero__tagline__font-size__sm: 1.1em;

// Resto list
$resto__item__border: 1px solid #d0d0d0;
$resto__thumbnail__background: linear-gradient(0deg,
  #12151a 0%,
  #00000000 35%);
$resto__name__font-size: 1.15em;
$resto__desc__font-size: 0.9em;
$resto__desc__max-lines: 5;

// Footer
$footer__height: 130px;